// SASS for your album collection view

.album-header-information.collection {
  margin-top: 45px;
  margin-bottom: 20px;

  .album-title.collection, .album-artist.collection, .album-meta-info.collection {
    line-height: 150%;
  }

  .album-title-collection {
    font-size: 16px;
    @include font-open-sans(300);
  }

  .album-artist.collection {
    font-size: 16px;
    color: rgba($medium-purple, .9);

    @include font-open-sans(300);
  }

  .album-meta-info.collection {
    font-size: 16px;
    @include font-open-sans(300);
  }

}