extends layouts/player_layout

block content
  .container
    .row
      .col-md-3(align="center")
        h4.personal-information Personal Information
        img(src="/images/album-placeholder.png" height="200px" width="175px")
        div
          button.button-bloc.btn.move-btn.
            UPLOAD
          button.button-bloc.btn.move-btn(disabled="true").
            DISABLED
      .col-md-7.user-info-form
        .row
          form(role="form")
            .form-group
              label.form-text(for="user_name") User Name
              input.form-input.form-control(type="text", id="user_name")
            .form-group
              label.form-text(for="email") Email
              input.form-input.form-control(type="email", id="email")
            .row
              .col-md-6
                label.form-text(for="city") City
                input.form-input.form-control(type="text", id="city")
              .col-md-6
                label.form-text(for="state") State
                input.form-input.form-control(type="text", id="state")
            .form-group
              label.form-text(for="country") Country
              input.form-input.form-control(type="text", id="country")
            .form-group
              button.btn.button-bloc.
                SAVE PROFILE
        .row.user-password
          form(role="form")
            .form-group
              label.form-text(for="password") Password
              input.form-input.form-control(type="password", id="password")
            .form-group
              label.form-text(for="password_confirmation") Password Confirmation
              input.form-input.form-control(type="password", id="password_confirmation")
            .form-group
              button.btn.button-bloc.
                CHANGE PASSWORD
      .col-md-2
        

