extends layouts/player_layout

block content
  .container
    .row
      .col-md-3
        h3 Personal Information
        img(src="/images/album-placeholder.png" height="200px" width="175px")
        div
          button(class="btn btn-primary").
            Upload
      .col-md-9
        .row
          form(role="form")
            .form-group
              label(for="user_name") User Name
              input(type="text", id="user_name", class="form-control")
            .form-group
              label(for="email") Email
              input(type="email", id="email", class="form-control")
            .row
              .col-md-6
                label(for="city") City
                input(type="text", id="city", class="form-control")
              .col-md-6
                label(for="state") State
                input(type="text", id="state", class="form-control")
            .form-group
              label(for="country") Country
              input(type="text", id="country", class="form-control")
            .form-group
              button(class="btn btn-primary btn-block").
                Save Profile
        .row
          form(role="form")
            .form-group
              label(for="password") Password
              input(type="password", id="password", class="form-control")
            .form-group
              label(for="password_confirmation") Password Confirmation
              input(type="password", id="password_confirmation", class="form-control")
            .form-group
              button(class="btn btn-primary btn-block").
                Change Password


