.button-bloc {
  background-color: $default-btn;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  @include font-open-sans(700);

  &:active {
    background-color: $active-btn;
    outline: none;
  }

  &:disabled {
    background-color: #B3B3B3;
  }

}